In [3]:
import pandas as pd
from collections import Counter

In [4]:
datos = pd.read_csv("C:/Users/m.pirela.escobar/OneDrive - Accenture/Galicia/NV_MDP/NV/mails.txt", sep=" ")
datos

ParserError: Error tokenizing data. C error: Expected 44 fields in line 4, saw 48

In [19]:
tamaño = print('El archivo tiene:', datos.shape[0], 'filas,',  datos.shape[1], 'columnas')

El archivo tiene: 27300 filas, 16 columnas

In [20]:
columns_names = datos.columns.values
columnas = list(columns_names)
for campos in columnas:
    print(campos)

SourceCode_SourceId
LegalBusinessName
Street
Number
Neigborhood
City
Province
Postal_Code
Country
Home_Phone
Office_Phone
Other_Phone
Cell_Phone
Email_Address
Identifier
CPA

## Para calcular datos nulos por columnas

In [21]:
datos.isnull().sum()

SourceCode_SourceId       0
LegalBusinessName         0
Street                    0
Number                  175
Neigborhood               0
City                     14
Province                  0
Postal_Code               0
Country                   0
Home_Phone                0
Office_Phone              0
Other_Phone               0
Cell_Phone                0
Email_Address             0
Identifier                0
CPA                    6956
dtype: int64

In [9]:
datos1 = datos.replace({"?": "Blanco"})
datos2 = datos1.fillna({'Street': "Blanco", 'Number': "Blanco", 'City':"Blanco"})

datos3 = datos2[['Identifier']].copy()
datos4 = datos3[datos3['Identifier'] == 'Blanco']

datos4

Empty DataFrame
Columns: [Identifier]
Index: []

In [30]:
datos1[['SourceCode_SourceId', 'LastName', 'FirstName' , 'Gender', 'BirthDate', 'Street', 'Number' , 'Neigborhood', 
                       'City', 'Province', 'Postal_Code', 'Country', 'Home_Phone', 'Office_Phone', 'Cell_Phone', 'Email_Address' ,  'Identifier']].value_counts()

SourceCode_SourceId  LastName            FirstName        Gender  BirthDate   Street                     Number  Neigborhood  City                          Province  Postal_Code  Country  Home_Phone  Office_Phone    Cell_Phone  Email_Address                       Identifier
NV4880890            DEBERNARDI          JOSE LUIS        C       17/2/1969   ESTRADA JOSE MANUEL NORTE  83      Blanco       RIO CUARTO                    4         5800         80       Blanco      (358)>490-5596  Blanco      JOSELUISDEBERNARDI@HOTMAIL.COM      20202089195    5
NV4899548            MEDINA DE LA TORRE  ALBA             S       17/2/1976   LARREA                     632     Blanco       RAMOS MEJIA                   2         1704         80       Blanco      (11)>6159-9316  Blanco      011-61599316@00001                  27250048128    5
NV15609651           CIRONA              MARIA SILVANA    S       13/10/1984  ELIPIDIO GONZALEZ          7951    Blanco       RODEO DE LA CRUZ              13        5525         80       Blanco      (261)>390-1189  Blanco      SILVANACIRONA@GMAIL.COM             27309727261    5
NV12381008           VARGAS              DIEGO SEBASTIAN  C       16/10/1978  ENTRE RIOS                 254     Blanco       SAN ANTONIO DE PADUA          2         1718         80       Blanco      (11)>6936-4445  Blanco      ITUMOTO@HOTMAIL.COM                 20268733508    5
NV11070866           TRACANNA            ANA INES         S       2/9/1985    SAN JUAN CASA 7            4641    Blanco       SAN MIGUEL DE TUCUMAN         23        4000         80       Blanco      (381)>413-2982  Blanco      ANAINESTRACANNA@GMAIL.COM           27316446626    5
                                                                                                                                                                                                                                                                                      ..
NV1578015            GIMENEZ             MARCELO ADRIAN   S       30/9/1972   BELGRANO SUR GRAL MANUEL   2820    Blanco       BENAVIDEZ                     2         1621         80       Blanco      (11)>5758-0283  Blanco      MARCELOADRIAN_GIMENEZ@YAHOO.COM.AR  20227953129    1
NV15780149           RETO REYNAL         FERNANDO         S       18/4/1980   AVENIDA ALVEAR             1864    Blanco       Blanco                        1         1129         80       Blanco      (11)>5505-1389  Blanco      FERNANDORETOREYNAL@HOTMAIL.COM      20283233910    1
                                                                              ARENALES                   1138    Blanco       CIUDAD AUTONOMA BUENOS AIRES  1         1061         80       Blanco      (11)>5505-1389  Blanco      FERNANDORETOREYNAL@HOTMAIL.COM      20283233910    1
NV15780132           SISI                TAMARA GISELA    S       18/1/1981   DEL VALLE ARISTOBULO       1195    Blanco       CIUDAD AUTONOMA BUENOS AIRES  1         1165         80       Blanco      (11)>3237-9011  Blanco      TAMARAGISELA@HOTMAIL.COM            27283026898    1
NV9999920            BADANO              LUCIO ROSENDO    S       10/1/1971   LAS MAGNOLIAS              634     Blanco       NEUQUEN                       15        8300         80       Blanco      (299)>467-6000  Blanco      2995044949@TE.COM                   20219527625    1
Length: 1284562, dtype: int64

## En el campo Home_Phone sólo aparecen "?"

In [19]:
home_phone = datos['Home_Phone'].to_list()
def group_list(lst): 
      
    return list(zip(Counter(lst).keys(), Counter(lst).values())) 
      
lst = datos['Home_Phone'].to_list()
print(group_list(lst))

[('?', 1350000)]

## En el campo Cell_Phone sólo aparecen "?"

In [21]:
cell_phone = datos["Cell_Phone"].to_list()
def group_list(lst): 
      
    return list(zip(Counter(lst).keys(), Counter(lst).values())) 
      
lst = datos['Cell_Phone'].to_list()
print(group_list(lst))

[('?', 1350000)]

## En el campo Gender aparecen

In [17]:
cell_phone = datos["Gender"].to_list()
def group_list(lst): 
      
    return list(zip(Counter(lst).keys(), Counter(lst).values())) 
      
lst = datos['Gender'].to_list()
print(group_list(lst))

[('F', 655094), ('M', 694893), ('?', 13)]